attrs==19.3.0
cycler==0.10.0
fire==0.3.1
kiwisolver==1.2.0
matplotlib==3.2.1
more-itertools==8.3.0
numpy==1.18.5
packaging==20.4
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
semantic-version==2.8.5
Shapely==1.7.0
six==1.15.0
termcolor==1.1.0
wcwidth==0.2.4
